<html>
    <head>
        <title>
            Similarities
        </title>
        <meta charset="utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <style>
        th, td {
            vertical-align: top;
        }
        #age_slider {
            width: 25%;
        }
        body {
            padding: 15px;
        }
        td.team:hover, td.attribute:hover {
            cursor: pointer;
        }
        td.team, td.attribute {
            border-radius: 20px;
            text-align: center;
            border: 1px solid black;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
    <body>
        <label for="player_name">Choose a Player:</label>
        <select id="player_name" name="player_name">    
            {% for player_name in player_names %}
                <option value="{{ player_name  }}">
                    {{ player_name }}
                </option>
            {% endfor %}
        </select> 

        <br><br>

        Age: 
        <span id="age_range"></span>      
        <br>
        <div id="age_slider">
        </div>

        <br><br>

        Choose teams (leave blank to select all):
        <br>
        <table>
            <thead>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'english_team')">
                    Premier League
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'spanish_team')">
                    La Liga
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'german_team')">
                    Bundesliga
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'italian_team')">
                    Serie A
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'french_team')">
                    Ligue 1
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table>
                            {% for team in english_teams %}
                                <tr>
                                    <td class="team english_team" onclick="changeColor(this)">
                                        {{ team }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for team in spanish_teams %}
                                <tr>
                                    <td class="team spanish_team" onclick="changeColor(this)">
                                        {{ team }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for team in german_teams %}
                                <tr>
                                    <td class="team german_team" onclick="changeColor(this)">
                                        {{ team }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for team in italian_teams %}
                                <tr>
                                    <td class="team italian_team" onclick="changeColor(this)">
                                        {{ team }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for team in french_teams %}
                                <tr>
                                    <td class="team french_team" onclick="changeColor(this)">
                                        {{ team }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        
        Choose attributes (leave blank to select all):
        <br>
        <table>
            <thead>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'attacking_attribute')">
                    Attack
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'defensive_attribute')">
                    Defense
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'dribbling_attribute')">
                    Dribbling
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'passing_attribute')">
                    Passing
                </th>
                <th>
                    <input type="checkbox" onchange="selectOrUnselectAll(this, 'discipline_attribute')">
                    Discipline
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table>
                            {% for attribute in attacking_attributes %}
                                <tr>
                                    <td class="attribute attacking_attribute" onclick="changeColor(this)">
                                        {{ attribute }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for attribute in defensive_attributes %}
                                <tr>
                                    <td class="attribute defensive_attribute" onclick="changeColor(this)">
                                        {{ attribute }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for attribute in dribbling_attributes %}
                                <tr>
                                    <td class="attribute dribbling_attribute" onclick="changeColor(this)">
                                        {{ attribute }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for attribute in passing_attributes %}
                                <tr>
                                    <td class="attribute passing_attribute" onclick="changeColor(this)">
                                        {{ attribute }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for attribute in discipline_attributes %}
                                <tr>
                                    <td class="attribute discipline_attribute" onclick="changeColor(this)">
                                        {{ attribute }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>

        <label for="k">Choose the number of players:</label>
        <select name="k" id="k" height="100">  
            {% for k in range(5, 51, 5) %}
                <option value="{{ k }}">
                    {{ k }}
                </option>
            {% endfor %}
        </select> 

        <br><br>

        <input type="button" value="Submit" onclick="findSimilarities()">

        <br><br>

        <div id="results_table">
        </div>
        
    </body>
    <script>
        function findSimilarities() {
            let player_name = document.getElementById("player_name").value;
            let attributes = getSelectedAttributes();
            let k = document.getElementById("k").value;
            let age_range = [$("#age_slider").slider("values", 0), $("#age_slider").slider("values", 1)];
            let teams = getSelectedTeams();
            console.log(attributes);
            console.log(teams);

            let elem = document.getElementById("results_table");
            let table_code = "Finding " + k + " closest matches to " + player_name + "...";
            elem.innerHTML = table_code;
                
            // making an ajax request to the server with the name of the player, the attributes, the range of ages, 
            // the teams, and k     
            let request = $.ajax({
                url: "/findSimilarities",
                type: "post",
                data: {"player_name": player_name,
                       "attributes": JSON.stringify(attributes),
                       "k": k,
                       "age_range": JSON.stringify(age_range),
                       "teams": JSON.stringify(teams)}
            });
            request.done(function(response, textStatus, XHR) {
                // response: the players that are most similar
                // JSONified 2-d array of size k x 3, [Name, Team, Similarity Score]
                // We go through this array and fill in the table
                let data = JSON.parse(response);
                let table_code = "<table border='1'><thead><th>Name</th><th>Team</th><th>Score</th></thead><tbody>";
                for(let i = 0; i < data.length; i += 1) {
                    table_code = table_code + "<tr><td>" + data[i][0] + "</td>";
                    table_code = table_code + "<td>" + data[i][1] + "</td>";
                    table_code = table_code + "<td>" + data[i][2] + "</td></tr>";
                }
                table_code += "</tbody></table>";
                elem.innerHTML = table_code;
                
            });
            request.fail(function(jqXHR, textStatus, errorThrown) {
                console.error(errorThrown);
            });
        }
        function getSelectedTeams() {
            let teams = document.getElementsByClassName("team");
            let selected_teams = [];

            for(let i = 0; i < teams.length; i += 1) {
                let team = teams[i];
                if(team.style.backgroundColor != '') {
                    selected_teams.push(team.innerText);
                }
            }
            
            return selected_teams;
        }
        function getSelectedAttributes() {
            let attributes = document.getElementsByClassName("attribute");
            let selected_attributes = [];

            for(let i = 0; i < attributes.length; i += 1) {
                let attribute = attributes[i];
                if(attribute.style.backgroundColor != '') {
                    selected_attributes.push(attribute.innerText);
                }
            }
            
            return selected_attributes;
        }
        function selectOrUnselectAll(elem, type) {
            let tds = document.getElementsByClassName(type);

            for(let i = 0; i < tds.length; i += 1) {
                if(elem.checked) {
                    select(tds[i]);
                }
                else {
                    unselect(tds[i]);
                }
            }
        }
        $(function() {
            $("#age_slider").slider({
                range: true,
                min: {{ overall_min_age }},
                max: {{ overall_max_age }},
                values: [{{ overall_min_age }}, {{ overall_max_age }}],
                slide: function(event, ui) {
                    $("#age_range").text(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#age_range").text($("#age_slider").slider("values", 0) +
              " - " + $("#age_slider").slider("values", 1));
        });
        function changeColor(elem) {
            if(elem.style.color) {    
                unselect(elem);
            }
            else {
                select(elem);
            }
        } 
        function select(elem) {
            elem.style.color = 'white';
            elem.style.backgroundColor ='#800000'; // maroon
        }
        function unselect(elem) {
            elem.style.color = elem.style.backgroundColor = '';
        }
    </script>
</html>
